/* Holds images in their defined sizes and removes default padding/margin */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Sets body background color */
body {
  background-color: #d9dcd6;
}
/* Styles header with font and colors, establishes 20px padding */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* Makes h1 display inline so that the nav bar can be on the same line, still respects padding established for header element */
header h1 {
  display: inline-block;
  font-size: 48px;
}
/* Colors the "seo" in Horiseon gray */
header h1 .seo {
  color: #d9dcd6;
}
/* Floats the nav bar inline with h1, styles with font, color, margins, & padding */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* displays nav bar list items inline with 25px margins between */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* removes underline for nav bar links, colors them white */
a {
  color: #ffffff;
  text-decoration: none;
}
/* sets paragraph font size in <main> boxes */
p {
  font-size: 16px;
}

/* establishes and styles background image below nav bar */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/* establishes styling for <main> section - inline elements 75% width of the viewport with 20px margins all around */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* establishes styling for the 3 section boxes in <main> */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* ensures the images in the section boxes do not exceed 200px height */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}
/* establishes styling for section box h2 headings */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* styles images in SEO & SMM boxes to the right side with margins */
.float-left {
  float: left;
  margin-right: 25px;
}
/* styles image in ORM box to the left side with a margin */
.float-right {
  float: right;
  margin-left: 25px;
}
/* styles the sidebar to float on the right with margins and padding */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* styles the 3 sections in the aside */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/* styles the 3 h3 headings in the aside */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* displays the 3 aside icons as block (taking their whole line) */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* establishes styling for footer and pads it from the bottom of the viewport */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* establishes a font size for the footer h2 heading  */
.footer h2 {
  font-size: 20px;
}
